@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.divulgacao {
    color: #12294B;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divulgacao .titulo {
    font-size: 25px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 120px;
    text-shadow: 1px 2px 2px #000;
}

.divulgacao .video {
    background-color: #000;
}

.divulgacao .canal-youtube h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 120px;
}

 .divulgacao .canal-youtube div {
    position: relative;
 }

 .divulgacao .canal-youtube div #setaD {
    position: absolute;
    top: -120px;
    left: -200px;
}

.divulgacao .canal-youtube div #setaE {
    position: absolute;
    left: 350px;
    top: 50px;
}

.canal-youtube div div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canal-youtube div div img{
    cursor: pointer;
    transition: transform 150ms ease-in-out;
}

.canal-youtube div div img:hover {
    transform: scale(1.02);
}

.canal-youtube div div h3 {
    font-family: 'Righteous', sans-serif;
    font-size: 20px;
}

.canal-youtube h2 {
    padding-top: 50px;
}

@media screen and (max-width: 700px) {
    .divulgacao .titulo {
        font-size: 20px;
        text-shadow: 1px 1px 1px #000;
    }

    .divulgacao .video {
        background-color: transparent;
    }

    .divulgacao .video iframe {
        height: 25vh;
        width: 40vh;
    }

    .divulgacao .canal-youtube h2 {
        font-size: 18px;
        text-shadow: 0.5px 0.5px 1px #000;
    }

    #setaD, #setaE {
        display: none;
    }

} 